/* get rid of extra space */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* take up available area */
html, body {
    height: 100%;
    margin: 0;
}

/* display table style(s) */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    text-align: left;
}

/* configure game content container to take up
    the space given to it and to display the game rows
    as desired (centered) */
.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    height: 100%;
}


.guessSquare {
    border-style: solid;
    border-width: 5px;
    /*border: antiquewhite;*/
}

/* configure game rows to keep content centered */
.gameRow {
    width: 100%;
    display: none;
    justify-content: center;
}

/* style used to display/hide new game button */
.newGame {
    display: flex;
}

/* style used to display/hide game over data */
.gameOver {
    display: none;
}